<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img
        class="slide-bg-img"
        src="https://image.tmdb.org/t/p/original/5GA3vV1aWWHTSDO5eno8V5zDo8r.jpg"
        alt=""
      />
    </div>
    <div class="slide-pane">
      <h2 class="name">Orphan: First Kill</h2>
      <div class="meta">
        <div class="info">
          <span class="rating">
            <span>start</span>
            <span class="rating-value"> 7.5 </span>
            <span>/10</span>
            <span>463 Reviews</span>
            <span>2021</span>
          </span>
        </div>
        <div class="description">
          Lena Klammer orquestra uma fuga brilhante de uma unidade psiquiátrica
          russa e viaja para os Estados Unidos, representando a filha
          desaparecida de uma família rica. Mas a nova vida de Lena como
          \"Esther\" vem com uma ruga inesperada e a coloca contra uma mãe que
          protegerá sua família a qualquer custo.
        </div>
      </div>
    </div>
  </div>
</div>
